NODE_ENV=development
PORT=3000

# Database
DATABASE_URI=mongodb://localhost:27017/alobo-sport-hub
DB_MAX_POOL_SIZE=10
DB_MIN_POOL_SIZE=2
DB_MAX_IDLE_TIME_MS=30000
DB_WAIT_QUEUE_TIMEOUT_MS=2500
DB_MAX_CONNECTING=2
DB_SERVER_SELECTION_TIMEOUT_MS=5000
DB_SOCKET_TIMEOUT_MS=45000
DB_CONNECT_TIMEOUT_MS=10000
DB_HEARTBEAT_FREQUENCY_MS=10000

#JWT
JWT_SECRET=HiiSp0rt-Hu3
JWT_REFRESH_SECRET=HiSp0rt-Hu3
JWT_ACCESS_TOKEN_EXPIRATION=7d
JWT_REFRESH_TOKEN_EXPIRATION=15m

THROTTLE_TTL=60
THROTTLE_LIMIT=10

# EMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=alobo.connect@gmail.com
EMAIL_PASS=hbmr qsqj mamw qclx
EMAIL_FROM="ALOBOSportHub <alobo.connect@gmail.com>"
