NODE_ENV=development
PORT=3000

CORS_ORIGIN=http://localhost:3000

# MongoDB URI
DATABASE_URI=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

THROTTLER_TTL=
THROTTLER_LIMIT=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=

GOOGLE_CLIENT_ID=

ELASTICSEARCH_NODE=
REDIS_HOST=
REDIS_PORT=
