{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@domain/(.*)$",
    "^@application/(.*)$",
    "^@infrastructure/(.*)$",
    "^@presentation/(.*)$",
    "^@shared/(.*)$",
    "^@config/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
